doctype html
head
    block head
        link(
        rel="stylesheet"
        href="res/css/project.scss"
        )
        link(
        rel="stylesheet"
        href="res/css/uikit.css"
        )
        script(
            src="res/js/jquery.js"
        )
        script(
            src="res/js/uikit.js"
        )
    title My Site -- #{title}
body
    block header
        nav.uk-navbar-container(uk-navbar)
            div.uk-navbar-left
                ul.uk-navbar-nav
                    li.uk-active
                        a(href="#") Кнопка 1
                    li.uk-parent
                        a(href="#") Кнопка 2




    block content
        p No content

    block footer
        p Footer
