doctype html
head
    block head
        link(
        rel="stylesheet"
        href="res/css/project.scss"
        )
        link(
        rel="stylesheet"
        href="uikit.css"
        )
        script(
        src="jquery.js"
        )
        script(
        src="uikit.js"
        )
    title My Site -- #{title}
body
    block header
        p Header

    block content
        p No content

    block footer
        p Footer