doctype html
head
    meta(charset="UTF-8")
    block head
        link(
        rel="stylesheet"
        href="res/css/project.scss"
        )
        link(
        rel="stylesheet"
        href="res/css/uikit.css"
        )
        script(
            src="res/js/jquery.js"
        )
        script(
            src="res/js/uikit.js"
        )
    title My Site -- #{title}
body
    block header
        include common.blocks/header

    block content
        p No content

    block footer
        p Footer
